/* -------------------- header -------------------- */
.titulo-loja{
    /*text-align: center;*/
    padding-left: 15%;
    padding-right: 15%;

    background-color: #DE3030;
    width: auto;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
}

.cx{

    height: 100%;
    text-align: center;
}
#nome-loja{
    display: inline;
    vertical-align:35%;
    margin-left: 20%;
    margin-right: 15%;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
}
#carrinho{
    display: inline-block;
    width: 30px;
    margin-top: 10px;
}

/*-----------perfil loja--*/
.perfil-loja{
    text-align: center;
}
#img-fundo{
    position: absolute;
    background-image: url(../img/capa-loja.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.6);

    width: 100%;
    height: 300px;
    text-align: center;
}
#img-perfil-loja{
    display: inline-block;
    position: relative;
    padding: 25px;
    width: 120px;
    border-radius: 100%;
    margin-bottom: 8px;
}
#localizacao{
    display: block;
    margin-bottom: 20px;
    position: relative;
    
    text-decoration: none;
    font-weight: bolder;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;  
}
#status-loja{
    display: inline-block;
    position: relative;
    
    margin: auto;
    /*margin-bottom: 24px;*/
    padding: 12px;
    width: 160px;
    
    color: #ffffff;
    background-color: #11C24D;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}

/* -------------------- end header -------------------- */

/* -------------------- Main -------------------- */
/*--Corpo da aplicação e navegação do cardapio--*/

.nav_tabs{
    margin-top: 23px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}
#cx-nav{
    text-align: center;
    width: 100%;
    height: 100%;
}
.nav_tabs ul{
    list-style: none;
}
.nav_tabs ul li{
    display: inline;
}
.tab_label{
    display: inline-block;
    height: 20px;
    padding-top: 20px;
    padding-right: 9px;
    padding-left: 9px;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: bolder;
    color: #444;
    cursor: pointer;
    
}
.nav_tabs .rd_tab { 
    display:none;
    position: absolute;
}
.nav_tabs .rd_tab:checked ~ label {
    background-color: #DE3030;
    color:#fff;
}


/*--FOMATO DOS TITULOS DOS PRODUTOS E CONTEÚDO--*/
.tab-content{
    display: none;
    padding-bottom: 25px;
    background-color: rgb(228, 228, 228);
    position: absolute;
    width:100%;
    height:auto;
    left:0;
}
.rd_tab:checked ~ .tab-content{
    display: block;
    text-align: left;
}
.tab-content h2{
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 10px;

    font-size: 16px;
    font-weight: bolder;
    color: #DE3030;
}
.tab-content article{
    color: #444;
}
.cx-tema{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #fff;
    margin-left: 5%;
    margin-right: 5%;
    
    padding-left: 5%;
    padding-right: 5%;
}
.cx-produto{
    border-top: solid 2px #de3030;
    background-color: #fff;
    margin-top: 15px;
    margin-left: 5%;
    margin-right: 5%;
    
    padding-top: 5px;
    padding-left: 5%;

    height: auto;
}
.nome-produto{
    margin-top: 20px;
    margin-bottom: 7px;
    font-weight: bolder;
    font-size: 16px;
    color: #000000;
}
.desc-produto{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 190px;
    height: 60px;
    color: #585656;
    font-size: 14px;
    margin-right: 5px;
}
.img-produto{
    position: absolute;
    width: 110px;
    height: 90px;
}
.preco-produto{
    display: flex;
    color: #DE3030;
    width: 150px;
    height: 40px;
    padding-top: 5px;
    font-size: 26px;
    font-weight: bolder;
}

.preco-produto p{
 color: #000000;
}